@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
