@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.hidden-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.hidden-scrollbar::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b38c45;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
